body {
  background-color: gray;
}
.products {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 3rem;
  background-color: lightcoral;
  padding: 3rem 1rem 1rem 7rem;
}
.card {
  background-color: rgb(246, 239, 239);
  border-radius: 15px;
  text-align: center;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
.card img {
  margin: 1rem;
  border: 1.5px solid gray;
  border-radius: 15px;
}

.section {
  display: flex;
  justify-content: space-around;
  background-color: bisque;
  border: 3px solid crimson;
  border-radius: 15px;
}
